
@{
    ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1>
<h3>Hello! Wellcome to PetHotel!</h3>
<h5>We are a hotel for pets, where you can let your pets rest for a few days at our hotel. We have accomodations for dogs, pets, rabbits and birds. The hotel has personalised doctors for each tipe of animal we offer rooms for.</h5>
<h5> Let your dogs rest here, and we guarantee they will enjoy their time. We feed them high quality products and walk them two times a day.</h5>
<h5> Fot cats we have accomodations for them to meet other cats and play with lots of toys.</h5>
<h5> The rabbits have lots of room to explore and jump around and meet other rabbits.</h5>
<h5> For birds we have accomodations where they can freely fly around, and the accomodations are made to replicate the birds natural habitat.</h5>
<img src="https://happy-pets.bg/wp-content/uploads/2018/09/transparent_animls.png" alt="PetHotel">
<img src="https://imgrabo.com/pics/deals/16104438148402.jpg" alt="PetHotel">
<img src="http://zoocenter-bg.com/wp-content/uploads/2019/11/MG_7486.jpg" alt="PetHotel">

