@{ ViewData["Title"] = "Home Page"; }
<body>
    <div class="homepage-design">
        <h1>Wellcome to PetHotel!</h1>
        <h5>
            We are a new hotel for pets opening doors soon. We offer rooms for your pets such as dogs, cats, birds and rabbits. Here you can be sure your pets are looked after by proffesionals,
            fed high quality food, and the dogs are walked two times a day. Come check us out and next time you go somewhere, leave your pets with us!
        </h5>
        
        <img src="https://i.cbc.ca/1.5077459.1553886010!/fileImage/httpImage/pets.jpg" alt="PetHotel">
        <img src="https://d2favcmz4lf91v.cloudfront.net/wp-content/uploads/2019/06/dog-welcome-e1561403149353.jpg" alt="PetHotel">
        <img src="https://i.pinimg.com/originals/6c/2c/a4/6c2ca4bbcdfb41c06ba352a43829a730.jpg" alt="PetHotel">
    </div>
</body>